<h1 mat-dialog-title>New folder</h1>
<div mat-dialog-content>
  <p>It will be created in current directory</p>
  <mat-form-field>
    <mat-label>Folder name</mat-label>
    <input matInput #folder [(ngModel)]="name" required>
    <mat-hint >Folder name cannot contains spaces nor slashes. All forbidden characters can be found <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html">here</a> (look at "Characters to avoid")</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="name" cdkFocusInitial [disabled]="!folderNameOk()">Ok</button>
</div>
