.spacer {
    flex: 1 1 auto;
}
.loader {
    margin-left: calc(50% - 40px);
    margin-top: calc(20% - 40px);
}
.list-wrapper {
    display: flex;
    padding-right: 2rem;
}
.action-icon {
    align-self: center;
    cursor: pointer;
}
.file-upload {
    visibility: hidden;
}